html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

p {
  font-size: 1.5rem;
  margin-top: .3em;
}

.btn {
  background-color: #333;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  padding: .6em .75em;
  text-decoration: none;
}

.btn:hover {
  background-color: #000;
}

.btn-big {
  font-size: 1.5rem;
}

.banner {
  max-height: 500px;
  position: relative;
}

.content {
  max-width: 45em;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  padding: 1em;
  align-items: flex-start;
}

.img-flex {
  display: block;
  width: 100%;
}

.mecha {
  display: block;
  width: 86%;
}

body {
  margin: 0;
  padding: 0;
}

.paragraph {
  width: 63%;
}
