html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 3rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
}

.btn {
  background-color: grey;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-size: 1.25rem;
  padding: .4em .75em .3em;
  text-decoration: none;
  bottom: 0;
}

.btn:hover {
  background-color: #000;
}

.btn-big {
  font-size: 1.5rem;
}

.banner {
  max-height: 500px;
  position: relative;
}

.content {
  max-width: 45em;
  position: absolute;
  top: 3em;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.img-flex {
  display: block;
  width: 100%;
  height: auto;
}

.mecha {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
}
